# Runtime files
*.xml
bodsdatacatalogue.zip

# Cache
__pycache__/

# Unit test / coverage reports
htmlcov/
results.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/